body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    border: 5px solid #555;
    background-color: #111;
}

.snake {
    background-color: #0f0;
    border: 1px solid #333;
}

.food {
    background-color: #f00;
    border-radius: 50%;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
}
