body {
    background-color: #333;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#score {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    border: 5px solid #555;
    background-color: #000;
}

.snake {
    background-color: #0f0;
    border: 1px solid #333;
}

.food {
    background-color: #f00;
    border-radius: 50%;
}
